* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif!important;
}
 /*-Navbar-*/
 #nav-bar {
     position: sticky;
     top: 0;
     z-index: 10;
 }
.fa-bars 
{
    color: #3498db; 
    font-size: 36px!important;
}
 .navbar-nav li a {   
    margin: 5px;
    color: #3498db!important;
    font-weight: bold;
    float: right;
    text-align: left;
    outline: none!important;
}
.navbar-nav li a:hover{
    color: #bdc3c7!important;
}
.navbar-nav .fa {
    font-size: 25px;
    margin: 5px
}
.navbar {
    background: linear-gradient(to right, #000000, #434343);
}
.navbar-brand img {
    display: block;
    width: 170px;
    height: 60px;
    margin-left: 20px;
}
.navbar-toggler {
   outline: none !important;
   border: none !important;
}

/*-Home-*/
#home {
    background:  linear-gradient(to right, #000000, #434343);
    padding-bottom: 50px;
    /*height: 80vh;*/
}
.myName {
    margin: 50px auto;
    padding: 20px;
}
.myName h1 {
    font-size: 4em;
    margin: 80px auto 10px auto;
    text-transform: uppercase;
    font-weight: bolder;
    color: #2980b9;
}
.myName p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #bdc3c7;
}
.get-started {
    float: left;
    margin-right: 11em;
    background: none;
    border: 3px solid #2980b9;
    border-radius: 20px;
    padding: 10px;
    color:  #bdc3c7;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
}
.get-started:hover {
    border-color: #bdc3c7;
    color: #2980b9;
    text-decoration: none;
}

/*-About me-*/
#about-me {
    padding-top: 50px;
    padding-bottom: 50px;
}
#about-me img {
    border-radius: 20px;
    margin-top: 80px;
    width: 400px;
    height: auto;
}
.about h1 {
    padding-top: 2em;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #2980b9;
}
.about p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #434343;
    word-spacing: 3px;
}
.social-icons {
    display: inline-block;
    outline: none;
}
.about .fa {
    padding-left: 10px;
    padding-right: 1em;
    padding-top: 15px;
    font-size: 28px;
    color: #434343;
}
.about .fa:hover {
    color:#2980b9;
}
.title-about::before {
    content: '';
    background: #434343;
    height: 5px;
    width: 220px;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

/*-projects-*/
#projects {
    background:  linear-gradient(to right, #000000, #434343);
    padding-bottom: 50px;
    padding-top: 50px;
}
#projects .title-project {
    color: #3498db;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 80px;
}
.title-project::before {
    content: '';
    background: #bdc3c7;
    height: 5px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transform: translateY(63px);
}
.project1 {
    display: flex;
    width: 90%;
    margin: auto;
}
.project1-text {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}
.project1-text h1 {
    color: #3498db;
    font-weight: bold;
    padding: 25px 0px;
}
.project1-text p {
    color: #bdc3c7;
    font-weight: 600;
    padding-top: 6px;
    word-spacing: 5px;
}

#projects ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

#projects li {
    float: left;
}

#projects li a {
    display: inline;
    text-decoration: none;
    margin-left: 45px;
    color: #bdc3c7;
    font-size: 17px;
    font-weight: 500;
}
#projects li a:hover {
    color: darkorange;
}
.project1-btn {
    border:  2px solid #2980b9;
    padding: 10px;
}

/*--Contact--*/
#contact {
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-title {
    color: #2980b9;
    padding: 40px 0px;
    text-transform: uppercase;
    font-weight: bolder;
}
.contact {
    display: flex;
    
}
.contact-form {
    flex: 1;
}
.contact-details {
    flex: 1;
}
.con {
    margin-right: 30px;
    margin-bottom: 30px;
    outline: none;
}
.con-msg {
    width: 80%;
    padding-bottom: 160px;
    outline: none;
}
.con-send {
    margin-top: 50px;
    background: transparent;
    border: 2px solid #2980b9;
    border-radius: 20px;
    padding: 15px;
    font-weight: 600;
    outline: none;
}
.con-send:hover {
    border-color: #434343;
    color: #3498db;
}
.location {
    padding-top: 40px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: bolder;
}
#contact p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #434343;
    word-spacing: 3px;
    text-transform: none;
}
.email, .phone, .social {
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: bolder;
}
#contact .fa {
    color: #2980b9;
}
.social .fa {
    padding-right: 1em;
    font-size: 20px;
    color: #434343!important;
}
.social .fa:hover {
    color: #2980b9!important;
}
.fa-users::before {
    color: #2980b9;
}

/*--footer--*/
footer {
    text-align: center;
    background: linear-gradient(to right, #000000, #434343);
    color: #bdc3c7;

@media only screen and (max-width: 1024px)  {
   .con {
    margin-bottom: 31px;
   }
}
@media only screen and (max-width: 768px)  {
    .con {
     margin-bottom: 31px;
     margin-left: 6px;
    }
    .con-msg {
        margin-left: 6px;
        margin-top: 2px;
    }
    .con-send {
        margin-top: 35px;
        margin-left: 6px;
    }
 }

@media only screen and (max-width:767.5px) {
    .about{  
         text-align: center; 
    }
    .title-about::before{
    display: none;
    }
    .title-about::after {
        content: '';
        background: #434343;
        height: 5px;
        width: 220px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        transform: translateY(10px);
    }
    .project1 {
        display: block;
    }
    .project1-text {
        text-align: center;
    }
    #projects  ul {
        margin-top: 30px;
        margin-left: 48px;
    }
}

@media only screen and (max-width:415px) {
    #projects {
        padding-bottom: 75px;
    }
    #projects .title-project {
        margin-bottom: 30px;
    }
    #projects ul {
        margin: 101px;
        display: inline;
    }
    .project1-logo img {
        width: 210px;
    }
    .contact {
        display: inline-block;
    }
    .contact-form {
        text-align: center;
    }
    .contact-details {
        text-align: center;
    }
    .con {
        margin-bottom: 33px;
    }

}

@media only screen and (max-width:360px) {
    .project1-logo img {
        width: 210px;
    }
    .get-started {
        padding: 4px;
    }
    #projects li a {
        font-size: none;
        margin-left: 30px;
    }
}

@media only screen and (max-width:320px) {
    .project1-logo img {
        width: 180px;
    }
    .get-started {
        padding: 4px;
        font-size: 12px;
    }
    #projects li a {
        font-size: none;
        margin-left: 30px;
    }
    .project1-btn {
        padding: 4px;
    }
}